@import "~bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
body {
    background-color: lightgray;
    /* font-family: spartan; */
    font-family: 'Playfair Display', serif;
    color: #444;
}

body>nav {
    background-color: #bed1e4!important;
}

.jumbotron-img {
    background: rgb(209, 195, 192);
    background: linear-gradient(302deg, rgba(122, 176, 234, 0.5) 16%, rgba(41, 46, 55) 97%);
    color: #fff;
}

.q-container {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #efefee;
}

.q-container-show {
    border-top-right-radius: .25rem;
    border-top-left-radius: .25rem;
    background-color: #8391a0;
}

.q-container img,
.q-container-show img {
    border: 2px solid #fff;
    border-radius: 50%;
}

.q-display {
    background: #fff;
    border-radius: .25rem;
}

.q-title-show {
    text-transform: uppercase;
    font-size: 1.3rem;
    color: #fff;
}

.q-title {
    text-transform: uppercase;
    color: #444;
}

.q-title:hover {
    color: #2B2B2B;
}

.q-title h2 {
    font-size: 1.3rem;
}

.q-display-response {
    background: #333D51;
    color: #fff;
}

.answer-link:hover .magic-wand {
    transform: rotate(20deg);
}

.vote-arrows {
    font-size: 1.5rem;
}

.vote-arrows span {
    font-size: 1rem;
}

.vote-arrows a {
    color: #444;
}

.vote-up:hover {
    color: #3D9970;
}

.vote-down:hover {
    color: #FF4136;
}

.btn-question {
    color: #FFFFFF;
    background-color: #61758a;
    border-color: #647c96;
}

.btn-question:hover,
.btn-question:focus,
.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    color: #FFFFFF;
    background-color: #D45B3F;
    border-color: #D45B3F;
}

.btn-question:active,
.btn-question.active,
.open .dropdown-toggle.btn-question {
    background-image: none;
}

.btn-question.disabled,
.btn-question[disabled],
fieldset[disabled] .btn-question,
.btn-question.disabled:hover,
.btn-question[disabled]:hover,
fieldset[disabled] .btn-question:hover,
.btn-question.disabled:focus,
.btn-question[disabled]:focus,
fieldset[disabled] .btn-question:focus,
.btn-question.disabled:active,
.btn-question[disabled]:active,
fieldset[disabled] .btn-question:active,
.btn-question.disabled.active,
.btn-question[disabled].active,
fieldset[disabled] .btn-question.active {
    background-color: #ED7458;
    border-color: #D45B3F;
}

.btn-question .badge {
    color: #ED7458;
    background-color: #FFFFFF;
}

footer {
    background-color: #efefee;
}


/* Style all font awesome icons */

.fab {
    padding: 20px;
    font-size: 30px;
    width: 70px;
    text-align: center;
    text-decoration: none;
}


/* Add a hover effect if you want */

.fab:hover {
    opacity: 0.7;
}


/* Set a specific color for each brand */


/* Facebook */

.fa-facebook-square {
    background: #8c96aa;
    color: white;
}


/* Twitter */

.fa-twitter-square {
    background: #4d6374;
    color: white;
}