<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
			<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Spartan&display=swap">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css" integrity="sha512-1PKOgIY59xJ8Co8+NE6FZ+LOAZKjy+KY8iq0G4B3CyeY6wYHN3yt9PW0XpSriVlkMXe40PTKnXrLnZ9+fkDaog==" crossorigin="anonymous" />
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar" style="height: 80px;">
			<a class="navbar-brand" href="{{ path('app_question_homepage')}}">
				<i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
				<p class="pl-2 d-inline font-weight-bold" style="color: #444;">Animal Health</p>
			</a>
			<button class="btn btn-dark">Sign up</button>
		</nav>
		{% block body %}{% endblock %}
		<footer class="mt-5 p-3 text-center">
			Made with
			<i style="color: red;" class="fa fa-heart"></i>
			by the guys and gals at
			<a style="color: #444; text-decoration: underline;" href="https://symfonycasts.com">SymfonyCasts</a>
		</footer>
		{% block javascripts %}
		<script src="https://code.jquery.com/jquery-3.5.1.min.js" integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
		{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
