<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{% block stylesheets %}
			<link href="https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&display=swap" rel="stylesheet">
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar" style="height: 80px;">
			<a class="navbar-brand" href="{{ path('app_question_homepage')}}">
				<i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
				<p class="pl-2 d-inline font-weight-bold" style="color: #444;">Animal Health</p>
			</a>
			<button class="btn btn-dark">Sign up</button>
		</nav>
		{% block body %}{% endblock %}
		<footer class="mt-5 p-3 text-center">
			<!-- Add font awesome icons -->
			<a class="fab fa-facebook-square"></a><a href="#" class="fab fa-twitter-square"></a>
		</footer>
		{% block javascripts %}
		{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
